html
	head
		link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link( rel="stylesheet", href="/styles/custom.css")
	body
		//- nav(class="navbar navbar-dark bg-dark")
		//- 	a(class="navbar-brand d-flex", href="/")
		//- 		img(src="/images/logo.png", width="30",height="30")
		//- 		p Home
		//- 	p Users
	block content