extends ../layouts/common
block content	
	h2 Users List :
	.d-flex.align-items-center
		a.btn.btn-primary.mr-auto(href='/users/create') New
		form(action='/users/search', method='Get', class='d-flex')
			input(type= 'text', name= 'q', value= paramValue, class="form-control",placeholder="Enter Name")
			button(class="btn btn-outline-info ml-2") Search
	table.table
		thead
			tr
				th Avatar
				th Name
				th Phone
				th(class="text-center") Actions
		tbody
			each user in users
				tr
					td
						img(src=user.avatar, width='32')
					td=user.name
					td=user.phone
					td(class="text-center")
						a(href='/users/' + user.id, class='mr-2 btn btn-info') Views
						a(href='/users/delete/' + user.id, class='btn btn-danger') Delete
						