extends ../layouts/common
block content
    h2 New Transfer :
    form(action='/transfer/post', method='POST')
        input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
            label(for="account") Account :
            input#account.form-control(type= 'text', name='account', placeholder='Account')
        .form-group
            label(for='amount') Amount :
            input#amount.form-control(type= 'number', name='amount', placeholder='Amount')
        button.btn.btn-primary Submit